@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }

body { 
  font-family: verdana; 
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  background: #1a7c5f;
  padding: 10px 0px;
  z-index: 99;
  margin-bottom: 100px;
}
ul {
  margin: 0px;
  text-align: center;
}
li {
  color: white;
  display: inline;
  margin: 0px 20px 0px 20px;
}

#popup  {
  background-color: gray;
  z-index: 99;
  display: none;
  position: fixed;
  /* margin-left:30px; */
  border-radius:7px; 
  width:80%;
  height: 90%;
  -webkit-box-shadow:5px 8px 30px 5px black;
  opacity: .95;

}

/* ---- grid ---- */

.grid {
  width: 100%;
  /* background: #DDD; */
  margin: 0 auto; /* centered */
  padding-top: 50px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.product {
  float: left;
  width: 400px;
  background: white;
  border: 1px solid gray;
  border-color: hsla(0, 0%, 0%, 0.7);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

 .grid-2 { 
  width: 800px; 
  /* height: 600px;  */
} 

.image {
  position: relative;
}
img {
  max-width: 100%;
  width: 100%;
  /* border-bottom: 1px solid #ccc;
  padding-bottom: 15px; */
  margin-bottom: 5px;
  border-radius: 10px;
}
p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 5px;
}
h1 {
  position: absolute;
  right: 3%;
  bottom: 1%;
  color: white;
}

/*  @media (max-width: 1250px) {
 .product {
   width: 200px;
 }
 .grid-2 { 
     width: 400px; 
   }
}
@media (max-width: 500px) {
 .product {
   width: 100%;
 }
 .grid-2 { 
     width: 100%; 
   }
 
}   */

/* .product:hover {
  background: #8CF;
  cursor: pointer;
} */

.product.gigante {
  width: 1000px;
  background: #F80;
}

.button-group {
  width: 90%;
  text-align: center;
}
.button {
  display: inline;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }
