@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }

body { 
  font-family: verdana; 
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  background: #1a7c5f;
  padding: 10px 0px;
  z-index: 99;
  margin-bottom: 100px;
}
ul {
  margin: 0px;
  text-align: center;
}
li {
  color: white;
  display: inline;
  margin: 0px 20px 0px 20px;
}



/* ---- grid ---- */

.grid {
  width: 100%;
  /* background: #DDD; */
  margin: 0 auto; /* centered */
  padding-top: 50px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.product {
  float: left;
  width: 400px;
  /* height: 350px; */
  background: white;
  border-color: hsla(0, 0%, 0%, 0.7);
  border: 1px dotted #333;
  margin-bottom: 10px;
   overflow: hidden; 
  border-radius: 10px;
  padding: 15px;
}

 .grid-2 { 
  width: 600px; 
  /* height: 600px;  */
} 



.image {
  position: relative;
}
img {
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
  
}
p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 5px;
}
h1 {
  position: absolute;
  right: 3%;
  bottom: 1%;
  color: white;
}

/* @media (max-width: 900px) {
  .grid-item {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .grid-item {
    width: 100%;
  }
  .grid-2 { 
      width: 100%; 
    }
  
} */